[submodule "ros2_ws/src/ratslam"]
	path = ros2_ws/src/ratslam
	url = https://github.com/OpenRatSLAM2/ratslam.git
[submodule "ros2_ws/src/topological_msgs"]
	path = ros2_ws/src/topological_msgs
	url = https://github.com/BorgesJVT/topological_msgs.git
[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
